<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mocktioneer {{W}}x{{H}}</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      a {
        display: block;
        border: 0;
        text-decoration: none;
        color: inherit;
      }
      .container {
        width: 100%;
        height: 100%;
      }
      .creative-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    </style>
  </head>
  <body>
    <a
      id="clk"
      href="//{{HOST}}/click"
      target="_blank"
      class="container"
      aria-label="Open mocktioneer {{W}} by {{H}} creative"
    >
      <img
        id="creative-img"
        class="creative-img"
        src="//{{HOST}}/static/img/{{W}}x{{H}}.svg"
        alt="mocktioneer {{W}}x{{H}}"
      />
    </a>
    {{#if PIXEL_HTML}}
    <img
      src="//{{HOST}}/pixel?pid={{PID_HTML}}"
      data-static-pid="{{PID_HTML}}"
      width="1"
      height="1"
      alt=""
      aria-hidden="true"
      referrerpolicy="no-referrer"
      style="position:absolute;left:-9999px;top:-9999px;border:0;width:1px;height:1px"
    />
    {{/if}}
    <script>
      (function () {
        var p = new URLSearchParams(location.search),
          c = p.get("crid") || "",
          b = p.get("bid") || "";
        // Wire click-through with creative metadata so the landing can echo it
        document.getElementById("clk").href =
          "//{{HOST}}/click?crid=" + encodeURIComponent(c) + "&w={{W}}&h={{H}}";

        {{#if PIXEL_JS}}
        // Fire an additional JS pixel with a distinct PID for analytics parity
        var jsPid = "{{PID_JS}}";
        var trackingImg = new Image();
        trackingImg.src = "//{{HOST}}/pixel?pid=" + encodeURIComponent(jsPid);
        trackingImg.width = trackingImg.height = 1;
        trackingImg.alt = "";
        trackingImg.setAttribute("aria-hidden", "true");
        trackingImg.referrerPolicy = "no-referrer";
        trackingImg.style.cssText =
          "position:absolute;left:-9999px;top:-9999px;border:0;width:1px;height:1px";
        document.body.appendChild(trackingImg);
        {{/if}}
      })();
    </script>
  </body>
  </html>
